body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: #00506c;
}

th, td {
    border: .25em solid black;
	width: 2em;
	height: 2em;
	max-width: 2em;
	max-height: 2em;
}

th {
	background-color: #3295b7;
	color: white;
}

.cell {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.peg-holder { padding: .25em; }

.red-peg, .white-peg {
	width: 1.5em;
	height: 1.5em;
	border-radius: .75em;
	position: absolute;
}

.red-peg { background-color: #9a0000; }
.white-peg { background-color: white; }

.ship {
    width: 2em;
    height: 2em;
    border-radius: 1em;
	position: absolute;
	background-color: grey;
}

.hidden {
	visibility: hidden;
}

#console-window {
	background-color: #00506c;
	color: white;
	font-family: "Lucida Console", Consolas, Monaco, monospace;
    width: 15ch;
    max-width: 13ch;
    height: 50ch;
    max-height: 50ch;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
    border: 5pt solid black;
}

#winscreen {
    position: fixed;
    width: 80%;
    height: 80%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background-color: #00506c;
    color: white;
    border: 20pt solid black;
    border-radius: 50pt;
    z-index: 5;
    font-size: 80pt;
    font-weight: bold
}
